USE [master]
GO
/****** Object:  Database [TestDB]    Script Date: 6/27/2024 7:23:22 PM ******/
CREATE DATABASE [TestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TestDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TestDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDB]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 6/27/2024 7:23:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] NOT NULL,
	[productName] [nvarchar](50) NULL,
	[Brand] [nvarchar](50) NULL,
	[categoryid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view1]    Script Date: 6/27/2024 7:23:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view1] as 
select * from product 
GO
/****** Object:  Table [dbo].[Category]    Script Date: 6/27/2024 7:23:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] NOT NULL,
	[categoryname] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view2]    Script Date: 6/27/2024 7:23:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view2] as 
select * from category
GO
/****** Object:  View [dbo].[view3]    Script Date: 6/27/2024 7:23:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view3] as
select 
    Product.id AS ProductID
from Product join Category on Product.categoryid = Category.id;
GO
/****** Object:  View [dbo].[view4]    Script Date: 6/27/2024 7:23:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view4] as
select  Product.*, Category.id as CatID, Category.categoryname
from Product join Category on Product.categoryid = Category.id;
GO
/****** Object:  View [dbo].[view5]    Script Date: 6/27/2024 7:23:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view5] as
select  Product.*, Category.id as CatID, Category.categoryname
from Product left join Category on Product.categoryid = Category.id;
GO
/****** Object:  View [dbo].[view6]    Script Date: 6/27/2024 7:23:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view6] as
select  Product.*, Category.id as CatID, Category.categoryname
from Product left join Category on Product.categoryid = Category.id;
GO
/****** Object:  View [dbo].[view7]    Script Date: 6/27/2024 7:23:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view7] as
select  Product.*, Category.id as CatID, Category.categoryname
from Product right join Category on Product.categoryid = Category.id;
GO
/****** Object:  View [dbo].[view8]    Script Date: 6/27/2024 7:23:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view8] as
select Product.*, Category.id as CatID, Category.categoryname from Product full outer join Category on Product.categoryid = Category.id
GO
/****** Object:  View [dbo].[view9]    Script Date: 6/27/2024 7:23:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view9] as
select Product.*, Category.id as CatID, Category.categoryname from Product left join Category on Product.categoryid = Category.id
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([categoryid])
REFERENCES [dbo].[Category] ([id])
GO
/****** Object:  StoredProcedure [dbo].[procedure1]    Script Date: 6/27/2024 7:23:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[procedure1]
as 
select * from Product
go;
GO
/****** Object:  StoredProcedure [dbo].[procedure2]    Script Date: 6/27/2024 7:23:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[procedure2] @var nvarchar(20)
as 
select * from Product
where Product.Brand = @var;
GO
USE [master]
GO
